general {
	output_format = "i3bar"
	colors = true
	interval = 1

    color_good = "#5dbed3"
    color_degraded = "#e84f4f"
    color_bad = "#e1aa5d"
}

order += "wireless _first_"
order += "disk /"
order += "battery 0"
order += "volume master"
order += "tztime denver"

disk "/" {
	format = "   %avail"
}

wireless _first_ {
	format_up = " %essid"
	format_down = "no wifi"
}

battery 0 {
    hide_seconds       = true
    last_full_capacity = true

    status_chr  = "  "
    status_bat  = ""
    status_full = " "
    format = "%status %remaining"
}

tztime denver {
    format = "%a %m/%d %I:%M"
}

volume master {
    format = "   %volume"
    format_muted = "   muted"
}

pomodoro {
    format = "{mmss}"
}

weather_yahoo {
    city_code = "FRXX0076"
}
